<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script
        src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>
    <body>

        {% include 'djangoapp/navbar.html' %}

        {% if user.is_authenticated %}
        <h2>Already Logged In! Start Surfing</h2>
        <p id = "result"></p>
        <button onclick = "redirect()">Click to Redirect to Homepage</button>    
        <script>
            function redirect () {
               setTimeout(myURL, 5000);
               var result = document.getElementById("result");
               result.innerHTML = "<b> The page will redirect after delay of 5 seconds";
            }
      
            function myURL() {
               document.location.href = "{% url 'djangoapp:index' %}";
            }
         </script>  
        {% else %}
                        {% include 'djangoapp/registration_form.html' %}
        {% endif %}



       
    </body>
</html>